<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            section.hero.is-small.is-primary.is-bold
                .hero-body.has-text-centered
                    .container
                        h1.title.has-text-centered Endpoint tester
                        h2.subtitle Test your end point.
            .container
                section
                    .content
                        h3.title.has-text-centered Copy this URL and use it as an endpoint
                        pre.code-section#url=url
                    .content#request
                        h3.title.has-text-centered Headers
                        pre.code-section#headers
                        h3.title.has-text-centered Get
                        pre.code-section#get
                        h3.title.has-text-centered Post
                        pre.code-section#post
        script(src="/socket.io/socket.io.js")
        script.
            let socket = io();

            socket.on('pageOpened', (request) => {
                document.getElementById('headers').innerHTML = request.headers;
                document.getElementById('get').innerHTML = request.get;
                document.getElementById('post').innerHTML = request.post;
            });
