<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            section
                .content#request
                    h3.title.has-text-centered Headers
                    pre.code-section#headers
                    h3.title.has-text-centered Get
                    pre.code-section#get
                    h3.title.has-text-centered Post
                    pre.code-section#post
        script(src="/socket.io/socket.io.js")
        script(src="/js/vkbeautify.js")
        script.
            let socket = io();
            let get = `!{JSON.stringify(get, undefined, 4)}`;
            let post = `!{JSON.stringify(post, undefined, 4)}`;
            let headers = `!{JSON.stringify(headers, undefined, 4)}`;
            document.getElementById('headers').innerHTML = headers;
            document.getElementById('get').innerHTML = get;
            document.getElementById('post').innerHTML = post;
            socket.emit('pageOpen', {get : get, post : post, headers: headers});